@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: local("Quicksand Bold"), url("./Quicksand-Bold.otf");
}

@font-face {
  font-family: "Quicksand";
  font-style: italic;
  font-weight: 700;
  src: local("Quicksand BoldItalic"), url("./Quicksand-BoldItalic.otf");
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: local("Quicksand Dash"), url("./Quicksand-Dash.otf");
}

@font-face {
  font-family: "Quicksand";
  font-style: italic;
  font-weight: 400;
  src: local("Quicksand Italic"), url("./Quicksand-Italic.otf");
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  src: local("Quicksand Light"), url("./Quicksand-Light.otf");
}

@font-face {
  font-family: "Quicksand";
  font-style: italic;
  font-weight: 300;
  src: local("Quicksand LightItalic"), url("./Quicksand-LightItalic.otf");
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: local("Quicksand Regular"), url("./Quicksand-Regular.otf");
}

.Quicksand {
  font-family: "Quicksand" !important;
}
