@import "./vendors/vendors";
@import "./tools/tools";
@import "./settings/settings";
@import "./settings/placeholders/prefers-reduced-motion";

.card-zoom {
  .overflow-hidden {
    height: 175px;
  }

  .img-bg {
    @include transition(transform .3s ease-in-out);
  }

  @include hover {
    .img-bg {
      transform: scale(1.25);
    }
  }
}

.card-hover {
  @include transition(box-shadow, transform);
  box-shadow: box-shadow($boxshadow-small);

  @include hover {
    transform: translateY(-5%);
    box-shadow: box-shadow($boxshadow-default);
  }
}

.triangle-left {
  position: relative;
  margin-left: 21px;
  @include before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    @include triangle(left, 17px, $primary);
  }
}
