//
// Font Settings
//

//
// Setting
//
$fontsize-normal:             1rem !default;

$fontfamily-sans-serif:       "Poppins",
                              -apple-system,
                              blinkmacsystemfont,
                              "Segoe UI",
                              "PingFang SC",
                              "Hiragino Sans GB",
                              "Ubuntu",
                              "Cantarell",
                              "Noto Sans",
                              "Helvetica Neue",
                              arial,
                              sans-serif,
                              "Apple Color Emoji",
                              "Segoe UI Emoji",
                              "Segoe UI Symbol",
                              "Noto Color Emoji" !default; // Linux emoji
$fontfamily-serif:            georgia, cambria, "Times New Roman", times, serif !default;
$fontfamily-monospace:        "Menlo", // macOS 10.10+
                              "Ubuntu monospace", // Ubuntu 10.10+
                              "Noto Mono", // KDE Plasma 5+
                              "Oxygen Mono", // KDE Plasma 4+
                              "Liberation Mono", // Linux/OpenOffice
                              consolas, // fallback
                              monospace !default; // fallback

$fontweight-lighter:          lighter !default;
$fontweight-light:            300 !default;
$fontweight-normal:           400 !default;
$fontweight-bold:             700 !default;
$fontweight-bolder:           bolder !default;

$lineheight-default:          1.5 !default;

//
// Derived
//
$fontsize-small:              $default-small-quantity * 1rem !default;
$fontsize-large:              $default-large-quantity * 1rem !default;
$fontfamily-default:          $fontfamily-sans-serif !default;
$fontweight-default:          $fontweight-normal !default;
