.Expend {
  &.ant-collapse,
  &.ant-collapse-content {
    color: inherit;
    background-color: inherit;
  }

  &.ant-collapse > .ant-collapse-item:last-child,
  &.ant-collapse > .ant-collapse-item:last-child .ant-collapse-header {
    padding-bottom: 0%;
    padding-top: 0;
    border: none;
  }

  .ant-collapse-content-box {
    padding: 0 !important;
  }

  + .button-area {
    margin-top: 0.5em;
  }
}
