//
// Table Settings
//

//
// Inherit
//
$label-marginbottom:                                 $space-typography !default;

//
// Settings
//

$table-border-color:                                 $border-color !default;
$table-border-width:                                 $borderwidth-default !default;

$table-body-width:                                   $borderwidth-wide !default;

$table-head-background:                              hsl(0, 0%, 97%) !default;
$table-head-border-width:                            ceil($borderwidth-wide / 2) !default;

$table-hover-background:                             $primary !default;

$table-striped-order:                                odd !default;
$table-stripped-background:                          $table-head-background !default;
