//
// Table
//

@if $generate-component-classes {
  //
  // Base Style
  //
  .table {
    width: 100%;

    th,
    td {
      padding: $table-cell-padding; // padding inside table's cell
      border: 0 solid $table-border-color;
      border-bottom-width: $table-border-width;
    }

    th {
      border-bottom: $table-head-border-width solid currentColor;
      background-color: $table-head-background;
      // color: $white; // theme 700
      vertical-align: bottom; // align text in heading to bottom
    }

    tfoot,
    tbody + tbody {
      // extra border between multiple table bodies and table footer
      border-top: $table-body-width solid $table-border-color;
    }
  }

  //
  // Striped rows
  //
  // stripped style table rows
  // works only for tbody in table

  .is-striped {
    tbody tr:nth-of-type(#{$table-striped-order}) {
      background-color: $table-stripped-background;
    }
  }

  //
  // Striped rows
  //
  // stripped style table rows

  .table.is-auto {
    table-layout: auto;
  }

  .table.is-fixed {
    table-layout: fixed;
  }

  //
  // Bordered Table
  //
  // Add or remove borders all around the table and between all the columns.

  .is-bordered {
    border-width: $table-border-width;

    th,
    td {
      border-width: $table-border-width;
    }

    th {
      border-bottom-width: $table-head-border-width;
    }
  }

  //
  // Bordered Table
  //
  // Add or remove borders all around the table and between all the columns.

  .is-borderless {
    th,
    td,
    tbody + tbody {
      border: 0;
    }
  }

  //
  // Hover effect
  //
  // Placed here since it has to come after the potential zebra striping

  .on-hover {
    tbody tr {
      @include hover {
        background-color: $table-hover-background;
      }
    }
  }

  //
  // Responsive tables
  //

  .has-table-responsive {
    overflow: auto;
    white-space: nowrap;
    display: block;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }
}
