//
// Table Element
//

caption {
  caption-side: bottom;
  padding-top: $table-cell-padding;
  padding-bottom: $table-cell-padding;
  color: $table-caption-color;
  text-align: left;
}

table {
  vertical-align: $table-body-vertical-align;

  tbody {
    vertical-align: inherit;
  }
}
