@import "./fluid/src/vendors/vendors";
@import "./fluid/src/tools/tools";
@import "./fluid/src/settings/settings";

.ant-layout-sider {
  min-width: initial !important;
  max-width: initial !important;
}

.ant-layout-header {
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}

.ant-picker-suffix {
  transform: translateY(-15%);
}

.ant-carousel {
  .slick-prev,
  .slick-next {
    // reset
    color: inherit !important;
    font-family: "remixicon" !important;
    font-size: 1.75em;
    line-height: 1;
    margin-top: 0;
    transform: translateY(-50%);

    // icon
    width: $icon-area;
    height: $icon-area;
  }

  .slick-prev {
    left: -3%;
    &::before {
      opacity: 0.5;
      content: "\EA59";
    }
  }

  .slick-next {
    right: -3%;
    &::before {
      opacity: 0.5;
      content: "\EA65";
    }
  }
}

.ant-select-arrow > .icon {
  margin-top: -30%;
}
