@import "./fluid/src/vendors/vendors";
@import "./fluid/src/tools/tools";
@import "./fluid/src/settings/settings";

:root {
  --antd-wave-shadow-color: #{$primary};
}

.ant-layout-sider {
  min-width: initial !important;
  max-width: initial !important;
}

.ant-layout-header {
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}

.ant-picker-suffix {
  transform: translateY(-15%);
}

.ant-picker-input > input,
.ant-picker-suffix {
  color: $body-color;
}

.ant-select-arrow,
.ant-picker-suffix {
  transform: none;
  line-height: 0;
  font-size: 1.5em;
}

.ant-select-arrow {
  right: 19px;
  > .icon {
    transform: translate(-30%, -30%);
  }
}

.ant-select-single.ant-select-lg:not(.ant-select-customize-input):not(.ant-select-customize-input) .ant-select-selection-search-input,
.ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
  height: unset;
  border-width: 0.1px;
}

.ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-item,
.ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-placeholder {
  line-height: $lineheight-default;
}

.ant-select-selector {
  padding: 0 !important;
}

.has-icon-left .ant-select-selection-search,
.has-icon-left .ant-select-selector {
  padding-left: 2em !important;
}

.ant-select.input {
  padding-left: 0 !important;
}

.ant-select-selection-search {
  left: 0 !important;
}

.ant-tabs-nav .ant-tabs-tab:hover,
.ant-tabs-nav .ant-tabs-tab-active {
  color: $primary;
}
.ant-tabs-ink-bar {
  background-color: $primary;
}
