@import "./Fluid/vendors/vendors";
@import "./Fluid/tools/tools";
@import "./Fluid/settings/settings";
@import "./Fluid/settings/placeholders/prefers-reduced-motion";

::-moz-selection {
  background: $orange;
}
::selection {
  background: $orange;
}

body * {
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: $gray-100;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $borderradius-pill;
    background-color: rgba($dark, 0.65);
  }

  // stylelint-disable-next-line selector-pseudo-class-blacklist
  &::-webkit-scrollbar-thumb:focus {
    background-color: $dark;
  }

  // stylelint-disable-next-line selector-pseudo-class-blacklist
  &::-webkit-scrollbar:hover {
    background-color: $gray-200;
  }
}

.card-zoom {
  .overflow-hidden {
    height: 175px;
  }

  .img-bg {
    @include transition(transform 0.3s ease-in-out);
  }

  @include hover {
    .img-bg {
      transform: scale(1.25);
    }
  }
}

.card-hover {
  @include transition(box-shadow, transform);
  box-shadow: box-shadow($boxshadow-small);

  @include hover {
    transform: translateY(-5%);
    box-shadow: box-shadow($boxshadow-default);
  }
}

.lyt-header {
  &.shadow {
    box-shadow: 6px 0 6px 0 rgba(0, 0, 0, 0.15) !important;
  }
  a {
    color: inherit;
    transition: none;
  }
}
