@import "./fluid/src/vendors/vendors";
@import "./fluid/src/tools/tools";
@import "./fluid/src/settings/settings";
@import "./fluid/src/settings/placeholders/prefers-reduced-motion";

::-moz-selection {
  background: $orange;
}
::selection {
  background: $orange;
}

body * {
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: $gray-100;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $borderradius-pill;
    background-color: rgba($dark, 0.65);
  }

  // stylelint-disable-next-line selector-pseudo-class-blacklist
  &::-webkit-scrollbar-thumb:focus {
    background-color: $dark;
  }

  // stylelint-disable-next-line selector-pseudo-class-blacklist
  &::-webkit-scrollbar:hover {
    background-color: $gray-200;
  }
}

.card-zoom {
  .img-bg {
    @include transition(transform 0.3s ease-in-out);
  }

  @include hover {
    .img-bg {
      transform: scale(1.15);
    }
  }
}

.card-hover {
  @include transition(box-shadow 0.3s, transform 0.3s);
  box-shadow: box-shadow($boxshadow-small);

  @include hover {
    transform: translateY(-3%);
    box-shadow: box-shadow($boxshadow-default);
  }
}

.lyt-header {
  &.shadow {
    box-shadow: 6px 0 6px 0 rgba(0, 0, 0, 0.15) !important;
  }
  a {
    color: inherit;
    transition: none;
  }
}
.clr-inherit {
  color: inherit;
}

.ant-carousel {
  .slick-slide {
    padding: $grid-gap;
  }

  .slick-arrow {
    // reset
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: $primary !important;
    font-family: "remixicon" !important;
    font-size: 2.75em;
    line-height: 1;
    margin-top: 0;
    transform: translateY(-50%);
    z-index: 10;
    opacity: 0;
    transition: transition(opacity);

    // icon
    width: $icon-area;
    height: $icon-area;

    @include before {
      position: absolute;
      text-shadow: 4px 4.25px 3px rgba($black, 0.175);
    }

    @include after {
      color: white;
      font-size: 0.5em;
      z-index: 10;
      transition: transition(padding-left, padding-right);
    }
  }

  .slick-prev {
    left: -3%;
    &::before {
      content: "\EB64";
    }
    &::after {
      content: "\EA5D";
    }
  }

  .slick-next {
    right: -3%;
    &::before {
      content: "\EB64";
    }
    &::after {
      content: "\EA69";
    }
  }

  @include hover {
    .slick-arrow {
      opacity: 1;
    }
  }

  .slick-prev:hover::after {
    padding-right: 35%;
  }

  .slick-next:hover::after {
    padding-left: 35%;
  }
}

[class*="clr-"] {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    color: inherit;
  }
}

.icon {
  *:not(.flex):not(.control):not(.inline-flex):not(.is-circle) > & {
    transform: translateY(2px);
  }

  *:not(.is-circle) > &::after {
    content: "\00a0";
  }
}

.after-hide::after {
  content: none !important;
}

.transform-none {
  transform: none;
}

.img-bg {
  background-color: $primary;
}

.h-min-100 {
  min-height: 100%;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"].hide-arrow {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.w-logo {
  flex: none !important;
  width: 110px !important;
}

.ant-menu-submenu-title {
  padding: inherit !important;
}

.ant-menu-item.ant-menu-item-only-child {
  padding-left: $nestedMenu-indent !important;
}

.ant-menu-sub.ant-menu-inline .ant-menu-item-group-title {
  padding-left: $nestedMenu-indent / 2 !important;
}

.ant-menu {
  border: none;
}

.autoExpand {
  transition: transition(width);
  &:focus {
    width: 30rem;
  }
}

.h-min-90vh {
  min-height: 90vh;
}

.ant-tabs {
  &.center {
    .ant-tabs-bar {
      text-align: center;
    }
  }

  &.expand {
    .ant-tabs-bar {
      padding: 0 !important;
    }
    .ant-tabs-nav {
      width: 100%;
      > div:first-child {
        display: flex;
        > .ant-tabs-tab {
          margin: 0;
          text-align: center;
          flex: 1 0 0%;
          min-width: 0;
          max-width: 100%;
        }
      }
    }
  }
}
