@import "./Fluid/vendors/vendors";
@import "./Fluid/tools/tools";
@import "./Fluid/settings/settings";
@import "./Fluid/settings/placeholders/prefers-reduced-motion";

.card-zoom {
  .overflow-hidden {
    height: 175px;
  }

  .img-bg {
    @include transition(transform 0.3s ease-in-out);
  }

  @include hover {
    .img-bg {
      transform: scale(1.25);
    }
  }
}

.card-hover {
  @include transition(box-shadow, transform);
  box-shadow: box-shadow($boxshadow-small);

  @include hover {
    transform: translateY(-5%);
    box-shadow: box-shadow($boxshadow-default);
  }
}

.triangle-left {
  position: relative;
  margin-left: 21px;
  @include before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    @include triangle(left, 17px, $primary);
  }
}

.before-hide {
  @include before {
    content: none;
  }
}

.after-hide {
  @include after {
    content: none;
  }
}
/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;

  @include after {
    content: "";
    display: block;
    clear: both;
  }

  input {
    display: none;
  }

  label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: "remixicon";
    display: inline-block;
    content: "\efe1";
  }

  .half:before {
    content: "\efe1";
    position: absolute;
    width: 0.5em;
    overflow: hidden;
  }

  label {
    color: #ddd;
    float: right;
  }
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating {
  input:checked ~ label {
    color: #ffd700; // hover previous stars in list
  }

  &:not(:checked) > label:hover {
    color: #ffd700; // hover previous stars in list

    ~ label {
      color: #ffd700; // hover previous stars in list
    }
  }

  input:checked {
    + label:hover,
    ~ label:hover {
      color: #ffed85;
    }
  }

  label:hover ~ input:checked ~ label,
  input:checked ~ label:hover ~ label {
    color: #ffed85;
  }
}

.notification {
  > a {
    @include after {
      display: block;
      content: "";
      border-bottom: $border-default;
      margin: 0.75em 5% 0.75em 10%;
    }
  }

  > a:last-child {
    @include after {
      content: none;
    }
  }
}

.scrollbar {
  &::-webkit-scrollbar {
    background-color: transparent;
    height: 4px;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 99px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
  }
}

.has-table-responsive {
  padding-bottom: $space-typography;
}

.dataTables_info {
  float: right !important;
}

.dataTables_paginate {
  float: left !important;
}
