@font-face {
  font-family: "JTLeonor";
  font-style: normal;
  font-weight: 900;
  src: local("JTLeonor Heavy"), url("./JTLeonor-Heavy.otf");
}

@font-face {
  font-family: "JTLeonor";
  font-style: italic;
  font-weight: 900;
  src: local("JTLeonor HeavyItalic"), url("./JTLeonor-HeavyItalic.otf");
}

@font-face {
  font-family: "JTLeonor";
  font-style: normal;
  font-weight: 700;
  src: local("JTLeonor Bold"), url("./JTLeonor-Bold.otf");
}

@font-face {
  font-family: "JTLeonor";
  font-style: italic;
  font-weight: 700;
  src: local("JTLeonor BoldItalic"), url("./JTLeonor-BoldItalic.otf");
}

@font-face {
  font-family: "JTLeonor";
  font-style: normal;
  font-weight: 800;
  src: local("JTLeonor ExtraBold"), url("./JTLeonor-ExtraBold.otf");
}

@font-face {
  font-family: "JTLeonor";
  font-style: italic;
  font-weight: 800;
  src: local("JTLeonor ExtraBoldItalic"), url("./JTLeonor-ExtraBoldItalic.otf");
}

@font-face {
  font-family: "JTLeonor";
  font-style: normal;
  font-weight: 200;
  src: local("JTLeonor ExtraLight"), url("./JTLeonor-ExtraLight.otf");
}

@font-face {
  font-family: "JTLeonor";
  font-style: italic;
  font-weight: 200;
  src: local("JTLeonor ExtraLightItalic"), url("./JTLeonor-ExtraLightItalic.otf");
}

@font-face {
  font-family: "JTLeonor";
  font-style: normal;
  font-weight: 300;
  src: local("JTLeonor Light"), url("./JTLeonor-Light.otf");
}

@font-face {
  font-family: "JTLeonor";
  font-style: italic;
  font-weight: 300;
  src: local("JTLeonor LightItalic"), url("./JTLeonor-LightItalic.otf");
}

@font-face {
  font-family: "JTLeonor";
  font-style: normal;
  font-weight: 500;
  src: local("JTLeonor Medium"), url("./JTLeonor-Medium.otf");
}

@font-face {
  font-family: "JTLeonor";
  font-style: italic;
  font-weight: 500;
  src: local("JTLeonor MediumItalic"), url("./JTLeonor-MediumItalic.otf");
}

@font-face {
  font-family: "JTLeonor";
  font-style: normal;
  font-weight: 500;
  src: local("JTLeonor DemiBold"), url("./JTLeonor-DemiBold.otf");
}

@font-face {
  font-family: "JTLeonor";
  font-style: italic;
  font-weight: 500;
  src: local("JTLeonor DemiBoldItalic"), url("./JTLeonor-DemiBoldItalic.otf");
}

@font-face {
  font-family: "JTLeonor";
  font-style: normal;
  font-weight: 400;
  src: local("JTLeonor Regular"), url("./JTLeonor-Regular.otf");
}

@font-face {
  font-family: "JTLeonor";
  font-style: italic;
  font-weight: 400;
  src: local("JTLeonor RegularItalic"), url("./JTLeonor-RegularItalic.otf");
}

@font-face {
  font-family: "JTLeonor";
  font-style: normal;
  font-weight: 600;
  src: local("JTLeonor SemiBold"), url("./JTLeonor-SemiBold.otf");
}

@font-face {
  font-family: "JTLeonor";
  font-style: italic;
  font-weight: 600;
  src: local("JTLeonor SemiBoldItalic"), url("./JTLeonor-SemiBoldItalic.otf");
}

@font-face {
  font-family: "JTLeonor";
  font-style: normal;
  font-weight: 100;
  src: local("JTLeonor Thin"), url("./JTLeonor-Thin.otf");
}

@font-face {
  font-family: "JTLeonor";
  font-style: italic;
  font-weight: 100;
  src: local("JTLeonor ThinItalic"), url("./JTLeonor-ThinItalic.otf");
}

.JTLeonor {
  font-family: "JTLeonor" !important;
}
